<div class="neo">

<header>
  <h2>My Custom Theme</h2>
</header>

<div class="flash">{{ page.flash }}</div>

<section>
  <nav>
	{{ page.header }}
  </nav>
  
  {# <nav class="sideadd">
	{{ page.sideadd }}
  </nav> #}

  <article>
	{{ page.content }}
  </article>
</section>

<footer>
	{{ page.footer }}
</footer>
{{ custom_data }}
</div>